/* fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* banner area */
.bnr {
  max-width: 100%;
  background-color: #264653;
  margin-bottom: 64px;
}
.bnr-txt {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.bnr-head {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 48px;
}
.btn {
  background-color: #e76f51;
  padding-left: 46px;
  padding-right: 46px;
  margin-top: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
/* banner area ends */
/* Feature */
.img-size {
  width: 288px;
  height: 243px;
}
.img-size-grey {
  width: 288px;
  height: 243px;
  filter: grayscale(100%);
}
.feature {
  text-align: center;
}
/* Clients */
.headline {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: black;
}
.diff-color {
  color: #e76f51;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.head-text {
  text-align: center;
}
.head-color {
  color: #e76f51;
}
.user {
  width: 149px;
  height: 149px;
  margin-top: 40px;
  margin-left: 19%;
}
.card-text:last-child {
  text-align: center;
}
.fonts {
  color: #e76f51;
  margin-left: 28%;
}
.different {
  color: #23a6f0;
  font-size: 14px;
}
.proff {
  font-size: 14px;
  text-align: center;
}
/* Bonus Part 1 */
.header-bike {
  text-align: center;
}
/* FAQ */
.headline-text {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 135px;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
}
.diff-head-color {
  color: #e76f51;
}
.img-resize {
  margin-bottom: 67px;
  width: 424.8px;
  height: 397.5px;
}
.acc-font {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.acc-ans {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* Bonus Part 2 */
.special {
  margin-top: 100px;
}
